/* Google Fonts
font-family: 'Permanent Marker', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif;
---------------------------------------- */

pre {
  display: block;
  white-space: pre-wrap;
  margin: auto 0;
}

.burger-names {
  margin: 5px;
}

.devour-style {
  padding-left: 25px;
  border-left: 2px solid black;
}

.devour-buttons {
  float: left;
}

h1 {
  padding-top: 25px;
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
}

.burger-names {
  font-family: 'Patrick Hand', cursive;
  font-size: 26px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#burger-image {
  width: 200px;

}

#top-bar {
  padding-top: 10px;
}

#submit-form {
  padding-top: 50px;
}

.btn-block {
  margin-top: 15px;
  margin-bottom: 15px;
}
