pre {
  display: block;
  white-space: pre-wrap;
  margin: auto 0;
}

.devour-style {
  padding-left: 25px;
  border-left: 2px solid black;
}

.devour-buttons {
  float: left;
}

#title {
  padding-top: 25px;
}
#burger-image {
  width: 200px;

}

#top-bar {
  padding-top: 10px;
}

#submit-form {
  padding-top: 50px;
}
